<!-- <app-card>
  <p class="card-title">
    emircan
  </p>
  <p class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ea sint facere est fuga corrupti natus, dolorem
    accusantium dolore nihil quia aliquam nesciunt, fugit odit odio amet illo sapiente ab!
  </p>
</app-card> -->


<!-- <app-simple-component></app-simple-component> -->

<!-- <app-example1></app-example1> -->


<!-- <app-outlet-example1></app-outlet-example1> -->
 <!-- <app-parent></app-parent> -->
  <app-contentchild-parent></app-contentchild-parent>
